@charset "utf-8";


@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


/*#77ffc0 verde
#201b2c fundo
*/
*{
   box-sizing: border-box;
}
body{
    margin: 0;
    overflow-x: hidden;
    font-family: "roboto", sans-serif;
}
.main{
    background-color: #201b2c;
    display: flex;
    justify-content: center;
    align-items: center;
}
.image{
    width: 90%;
    height: 60%;
}
 .left-login{
    width: 50vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
 }
 .left-login > h1{
    color:#77ffc0 ;
    font-size: 150%;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
 }
 .rigth-login{
    width: 50vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
 }

 .card-login{
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 30px 35px;
    background-color:#2f2841;
    border-radius: 10px;
 }
 .rigth-login > .card-login > h1{
    font-size: 30px;
    color: #00ff88;
    font-weight: 800;
 }
 .textfield{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    color: white;

 }
 input{
    padding: 13px;
    border-radius: 8px;
    border: none;
 }
 button{
    margin-top: 30px;
    background-color: #00ff88;
    width: 80px;
    height: 35px;
    border-radius: 5px;
    font-weight: 700;
    color: #201b2c;
    text-transform: uppercase;
    cursor: pointer;
 }
 /* -------------- MEDIA QUERIES ---------------*/
   @media(max-width: 730px){
      main{
         display: flex;
         flex-direction: column;
      }
      .rigth-login{
         width: 100vw;
      }
      .left-login{
         width: 100vw;
      }.left-login > h1{
         margin: 20px;
      }
   }